.impact-item {
  box-sizing: border-box;
  background-color: rgba(150, 150, 150, .7);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.impact-item__heading {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: .5em;
}

.impact-item__em {
  font-weight: bold;
}

.impact-item__info {
  margin: .5em 0;
}

@media only screen and (min-width: 750px) {
  .impact-item {
    width: 45%;
  }
}