.impact-item {
  box-sizing: border-box;
  background-color: lightgray;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.impact-item__heading {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: .5em;
}

.impact-item__em {
  font-weight: bold;
}

.impact-item__info {
  margin: .5em 0;
}