.impact-item {
  background-color: rgba(120, 120, 120, .7);
  color: white;
  padding: 10px;
  margin: 0 5px 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid rgb(120, 120, 120);
  cursor: pointer;
  transition: all 0.3s;
}

.impact-item:hover {
  background-color: rgba(228, 0, 43, .5);
  border: 2px solid rgba(228, 0, 43, 1);
}

.impact-item__heading {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: .5em;
}

.impact-item__em {
  font-weight: bold;
}

.impact-item__info {
  margin: .5em 0;
}

@media only screen and (min-width: 750px) {
  .impact-item {
    width: 48%;
  }
}

@media only screen and (min-width: 1200px) {
  .impact-item {
    width: 30%;
    max-width: 300px;
  }
}