.asteroid-data {
  position: fixed;
  padding: 10px;
  z-index: 2;
  overflow: scroll;
  top: 2rem;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(255,100,0,.6);
  border: 2px solid rgb(255,100,0);
  opacity: 1;
  animation: fade-in 0.5s linear;
  transition: opacity 0.5s;
}

.fading-out {
  opacity: 0;
}

.data__size-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.impact-table {
  width: 100%;
}

.impact-table td {
  text-align: center;
  width: 50%;
}

.close-button {
  box-sizing: content-box;
  width: 1rem;
  height: 1rem;
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.close-button::after {
  content: 'X';
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1em;
}

@media only screen and (min-width: 900px) {
  .asteroid-data {
    right: 220px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}







