.Background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-size: cover;
  background-image: url(../../assets/earth_bg.jpg);
  animation: fade-in 5s linear;
}