.App {
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.container {
  padding-top: 1rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  position: relative;
  opacity: 1;
  transition: all .5s;
}

main {
  padding: 10px;
}

.container--hidden {
  opacity: 0;
}

@media only screen and (min-width: 900px) {
  .container {
    padding-bottom: 2rem;
  }
  main {
    margin-right: 220px;
  }
}