.App {
  box-sizing: border-box;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.container {
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 3rem;
  min-height: 100vh;
  position: relative;
  opacity: 1;
  transition: all .5s;
}

.container--hidden {
  opacity: 0;
}