.main-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.9);
  box-shadow: 0 1px 4px black;
  transition: all .5s ease;
}

nav {
  height: 0;
  overflow: hidden;
  transition: height .2s linear;
}

.nav-visible {
  height: 4.5rem;
}

.main-nav__header {
  font-size: 1rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  text-align: center;
  width: 100%;
  padding: .5em;
  background-color: rgba(0,0,0,.1);
  border-bottom: 1px solid black;
  transition: all .3s;
}

.main-nav__link {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .main-nav {
    top: 10px;
    left: auto;
    right: 10px;
    background-color: rgba(100,100,100,.4);
    border: 2px solid rgb(100,100,100);
    width: 190px;
    height: auto;
  }

  .main-nav__header {
    display: none;
  }

  .main-nav__item {
    font-family: 'Exo 2', sans-serif;
  }
  
  .main-nav__item--last {
    border: none;
  }

  .main-nav__item:hover {
    background-color: rgba(228, 0, 43, .7);
  }

  nav {
    height: auto;
  }

  .nav-visible {
    height: auto;
  }
}