.About {
  padding: 10px;
  background-color: rgba(46,133,64,.9);
  border: 2px solid rgba(46,133,64,1);
  animation: fade-in 0.5s linear;
  max-width: 600px;
  margin: 0 auto;
}

.About a {
  color: white;
  transition: all .3s;
}

.About a:hover {
  color: rgb(228, 0, 43);
}

.about__heading {
  margin-top: 0;
}

@media only screen and (min-width: 900px) {
  .About {
    max-height: 100%;
    overflow: scroll;
  }
}