.impact-list {
  animation: fade-in .5s linear;
  position: relative;
}

.impact-list__heading {
  margin-top: 0;
}

.impact-list__items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .impact-list__items {
    flex-flow: row wrap;
  }
}